.shop-container {
    width: 100%;
    padding: 5px;
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shop-banner {
    text-align: center;
    /* background: url('../img/shop_head.png') no-repeat center center;
    background-size: 100% 500px; */
    padding: 25px 0;
    color: black;
    font-size: 24px;
  }

  .img1{
    margin: 20px;
  }
  
  .shop-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 15px;
    margin-bottom: 60px;
  }
  
  .product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-label {
    position: absolute;
    background: #ff4081;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-info h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
  }
  
  .product-info p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }
  
  .add-to-cart {
    background: #6200ea;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .add-to-cart:hover {
    background: #4500b5;
  }